*{
    margin: 0;
    padding: 0;
    color: black;
}
.menu{
    height: 50px;
    background-color: #FF7170;
    align-items: center;
}
body{
    background: linear-gradient(to right,#fef4af,#ffe1c2,#ffd1d1,pink,pink);
}
button{
    background-color: rgb(218, 57, 92);
    cursor: pointer;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
}
ul li a{
    text-decoration: none;
    color: black;
}
.logo img{
    float: right;
    width: 50px;
    height: auto;
    margin-left: 50px;
}
/*header*/
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: linear-gradient(to right,#fef4af,#ffe1c2,#ffd1d1,pink,pink);*/
}
h1{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 100px;
    align-items: center;
    font-size: 50px;
    margin-left: 50px;
    align-content: center;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
}
p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 100px;
}
button{
    align-items: center;
    text-decoration: none;
}
img{
    width: 50vw;
    height: 100vh;
    display: block;
    object-fit: cover;
    object-position: center;
    
}
.im img{
    width: 300px;
    display:flex;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    top: 50px;
    margin: 50px auto;
   display: inline-block;   
}
.im3 img{

    float: left;
}
 